<!DOCTYPE html>
<html lang="en">

<head>
    <title>Garden Caring</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/home_style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <img src="/images/logo.png">
                <h2>
                    Garden<span class="primary">Care</span>
                </h2>
            </div>

        </div>

        <div class="banner">
            <div class="app-text">
                <h3>Hệ thống chăm sóc cây trồng thông minh</h3>
                <h1>Garden<br>Care</h1>
                <p>Do nhóm ShibaTeam thực hiện <br> Hệ thống chăm sóc vườn cây dựa trên ứng dụng IoT kết hợp với
                    Adafruit giúp tự động hóa mọi quy trình chăm sóc cây, bao gồm tưới cây, thu thập thông tin nhiệt độ,
                    độ ẩm từ các thiết bị, từ đó đưa ra quyết
                    định phù hợp để chăm sóc cây trồng. Từ đó mang lại hiệu quả cao cho người sử dụng
                </p>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="btn-group">
                    <div class="signup-btn login-btn"><a href="/login">Login</a></div>
                    <div class="signup-btn"><a href="/register">Sign up</a></div>
                </div>
            </div>
            <div class="app-picture">
                <img src="/images/10.jpg">
            </div>
        </div>

        <div class="about-services">
            <ul>
                <li>
                    <img src="/images/1.png">
                    <h1>Áp dụng IoT</h1>
                    <p>Hỗ trợ cho việc tự động hóa, thu thập dữ liệu từ môi trường.</p>
                </li>
                <li>
                    <img src="/images/2.png">
                    <h1>Adafruit</h1>
                    <p>Sử dụng Dashboard Adafruit để lưu trữ dữ liệu, get HTTP API</p>
                </li>
                <li>
                    <img src="/images/3.png">
                    <h1>Hệ thống Realtime</h1>
                    <p>Cập nhật dữ liệu liên tục, mọi lúc mọi nơi.</p>
                </li>
            </ul>
        </div>

        <div class="social-icons">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</body>

</html>