<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Material Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />

    <link rel="stylesheet" href="/css/style.css">

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Socket.io -->
    <script src="socket.io/socket.io.js"></script>

    <script>
        // Connect to server
        let socket = io('http://localhost:8080')
        socket.on('Server-send-temp-data', data => {
            console.log(data)
            $("#tempVal").text(data['value'])
            $("#timeUpdate").text(data['time'])
            $("#dateUpdate").text(data['date'])
        })
        socket.on('Server-send-moist-data', data => {
            $("#moistVal").text(data['value'] + '%')
            $("#timeUpdate").text(data['time'])
            $("#dateUpdate").text(data['date'])
        })
        $(document).ready(function () {

        })
    </script>

</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images//logo.png" alt="">
                    <h2>Garden<span class="primary">Care</span></h2>
                </div>
                <div class="close" id="close-btn"><span class="material-icons-sharp">close</span></div>
            </div>
            <div class="sidebar">
                <a href="/" class="active"><span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/temp"><span class="material-icons-sharp">thermostat</span>
                    <h3>Temperature</h3>
                </a>
                <a href="/moist"><span class="material-icons-sharp">water_drop</span>
                    <h3>Moisture</h3>
                </a>
                <a href="/limit"><span class="material-icons-sharp">insights</span>
                    <h3>Set limitation</h3>
                </a>
                <a href="/device"><span class="material-icons-sharp">settings_suggest</span>
                    <h3>Controll</h3>
                </a>

                <a href="/login"><span class="material-icons-sharp">logout</span>
                    <h3>Log Out</h3>
                </a>

            </div>
        </aside>

        <!-- MAIN SECTION -->
        <main>
            <h1>Dashboard</h1>
            <div class="insights">
                <!-- TEMP SECTION -->
                <div class="temp">
                    <span class="material-icons-sharp">thermostat</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Temperature</h3>
                            <h1> <b id="tempVal">
                                    <%= tempData[0] %>
                                </b> &#8451;</h1>
                        </div>

                    </div>
                    <small class="text-muted">Ho Chi Minh City</small>
                </div>
                <!-- END TEMP SECTION -->
                <!-- MOISTURE SECTION -->
                <div class="moisture">
                    <span class="material-icons-sharp">water_drop</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Moisture</h3>
                            <h1 id="moistVal">
                                <%= moistData[0] %>%
                            </h1>
                        </div>

                    </div>
                    <small class="text-muted">Good for plants</small>
                </div>
                <!-- END MOISTURE SECTION -->
                <!-- TIMEUPDATE SECTION -->
                <div class="updatetime">
                    <span class="material-icons-sharp">update</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Updated at</h3>
                            <h1 id="timeUpdate">
                                <%= tempData[1] %>
                            </h1>
                        </div>
                        <div class="progress">

                        </div>
                    </div>
                    <small class="text-muted" id="dateUpdate">
                        <%= tempData[2] %>
                    </small>
                </div>
                <!-- END TIMEUPDATE SECTION -->
            </div>

            <!-- LIST OF DEVICES-->
            <div class="list-devices">
                <h2>List of Devices</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Device Number</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Light System</td>
                            <td>20</td>
                            <td class="success">On</td>
                            <td class="primary"><a href="#">Details</a></td>
                        </tr>
                        <tr>
                            <td>Pump System</td>
                            <td>2</td>
                            <td class="danger">Off</td>
                            <td class="primary"><a href="#">Details</a></td>
                        </tr>
                        <tr>
                            <td>Dome System</td>
                            <td>4</td>
                            <td class="danger">Off</td>
                            <td class="primary"><a href="#">Details</a></td>
                        </tr>
                        <tr>
                            <td>Temperature Sensor</td>
                            <td>1</td>
                            <td class="success">On</td>
                            <td class="primary"><a href="#">Details</a></td>
                        </tr>
                        <tr>
                            <td>Moisture Sensor</td>
                            <td>2</td>
                            <td class="success">On</td>
                            <td class="primary"><a href="#">Details</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Phuc</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/images//profile-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="recent-updates">
                <h2>Recent Updates</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images//profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Light System</b> was turned on</p>
                            <small class="text-muted">Light System</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images//profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Dome System</b> was closed</p>
                            <small class="text-muted">Dome System</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images//profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Pump System</b> was turned off</p>
                            <small class="text-muted">Pump System</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="weather-analytics">
                <h2>Analytics</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">thermostat</span>
                    </div>
                    <div class="right">
                        <div class="ingo">
                            <h3>Average Tempera</h3>
                            <small class="text-muted">Last 10 Hours</small>
                        </div>
                        <h5 class="success">Safe</h5>
                        <h3>33 &#8451;</h3>
                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <span class="material-icons-sharp">water_drop</span>
                    </div>
                    <div class="right">
                        <div class="ingo">
                            <h3>Average Moisture</h3>
                            <small class="text-muted">Last 10 Hours</small>
                        </div>
                        <h5 class="danger">Low</h5>
                        <h3>55%</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="./index.js"></script>
</body>

</html>