<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moisture</title>
    <!-- Material Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images/logo.png" alt="">
                    <h2>Garden<span class="primary">Care</span></h2>
                </div>
                <div class="close" id="close-btn"><span class="material-icons-sharp">close</span></div>
            </div>
            <div class="sidebar">
                <a href="/"><span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/temp"><span class="material-icons-sharp">thermostat</span>
                    <h3>Temperature</h3>
                </a>
                <a href="/moist" class="active"><span class="material-icons-sharp">water_drop</span>
                    <h3>Moisture</h3>
                </a>
                <a href="/limit"><span class="material-icons-sharp">insights</span>
                    <h3>Set limitation</h3>
                </a>
                <a href="/device"><span class="material-icons-sharp">settings_suggest</span>
                    <h3>Controll</h3>
                </a>

                <a href="/login"><span class="material-icons-sharp">logout</span>
                    <h3>Log Out</h3>
                </a>

            </div>
        </aside>

        <!-- MAIN SECTION -->
        <main>
            <h1>Moisture</h1>
            <div class="insights">
                <!-- box SECTION -->
                <div class="box bigbox">
                    <div class="middle">
                        <div class="left">
                            <span class="material-icons-sharp">water_drop</span>
                            <h3>Current moisture</h3>
                            <h1>60 %</h1>
                            <small class="text-muted">1 Minutes ago</small>
                        </div>
                        <div class="">
                            <span class="material-icons-sharp">analytics</span>
                            <h3>Average moisture</h3>
                            <h1>50 %</h1>
                            <select name="avg-time" id="">
                                <option value="1">1 hour ago</option>
                                <option value="2">6 hours ago</option>
                                <option value="3">12 hours ago</option>
                                <option value="4">24 hours ago</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="box bigbox">
                    <div class="middle">
                        <span class="material-icons-sharp">analytics</span>
                        <h1>Moisture Analytics</h1>
                    </div>
                    <br>
                    <div class="date-container">
                        <p class="date">From:</p>
                        <input class="date" type="datetime-local">
                    </div>
                    <div class="date-container">
                        <p class="date">To:</p>
                        <input class="date" type="datetime-local">
                    </div>
                    <div class="date-container">
                        <div class="middle">
                            <p class="date">Step:</p>
                            <input type="number" id="inputStep" class="date">
                            <select name="Time-unit" id="" class="date">
                                <option value="minute">Minute</option>
                                <option value="hour">Hour</option>
                                <option value="day">Day</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn">Analize</button>

                    <div class="chart">
                        <canvas id="moistureChart"></canvas>
                    </div>

                </div>
            </div>
        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Phuc</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/images/profile-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="recent-updates">
                <h2>Recent Updates</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images/profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Light System</b> was turned on</p>
                            <small class="text-muted">Light System</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images/profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Dome System</b> was closed</p>
                            <small class="text-muted">Dome System</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images/profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Pump System</b> was turned off</p>
                            <small class="text-muted">Pump System</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="weather-analytics">
                <h2>Analytics</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">thermostat</span>
                    </div>
                    <div class="right">
                        <div class="ingo">
                            <h3>Average Tempera</h3>
                            <small class="text-muted">Last 10 Hours</small>
                        </div>
                        <h5 class="success">Safe</h5>
                        <h3>33 &#8451;</h3>
                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <span class="material-icons-sharp">water_drop</span>
                    </div>
                    <div class="right">
                        <div class="ingo">
                            <h3>Average Moisture</h3>
                            <small class="text-muted">Last 10 Hours</small>
                        </div>
                        <h5 class="danger">Low</h5>
                        <h3>55%</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="./index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const labels = [
            '2/3 15:00:00',
            '2/3 15:05:00',
            '2/3 15:10:00',
            '2/3 15:15:00',
            '2/3 15:20:00',
            '2/3 15:25:00',
            '2/3 15:30:00',
            '2/3 15:35:00'
        ];
        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'Average moisture (%)',
                    backgroundColor: 'rgba(0,0,255,1)',
                    data: [55, 45, 60, 70, 50, 58, 55, 60],
                    borderColor: 'rgba(0,0,255,0.5)',
                    borderWidth: 2,
                    tension: 0.3,
                    pointHoverBorderWidth: 10
                }
            ]
        };
        const config = {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Average Temperature from ... to...'
                    }
                },
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }
            }
        };
        const tempChar = new Chart(
            document.getElementById('moistureChart'),
            config
        );
    </script>
</body>

</html>