<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="logo" style="margin-top: 10rem;">
        <img src="/images/logo.png" alt="">
        <h2>Garden<span class="primary">Care</span></h2>
    </div>
    <form action="/login">
        <h1>Login</h1>
        <label for="user">Username:</label>
        <input type="text" required id="user">

        <label for="pwd">Password:</label>
        <input type="password" required id="pwd">
        <div class="sign">
            <button>Sign In</button>
        </div>
        <div class="sign1">
            <a href="">Forgot your password?</a>
        </div>
    </form>
</body>

</html>